<!-- app/views/admin_area/event_sessions/index.html.erb -->
<h1>Manage Event Sessions</h1>
<%= link_to "Add New Session", new_admin_area_event_session_path, class: "btn btn-primary" %>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Session Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @event_sessions.each do |session| %>
      <tr>
        <td><%= session.name %></td>
        <td>
          <%= link_to "Edit", edit_admin_area_event_session_path(session), class: "btn btn-warning btn-sm" %>
          <%= link_to "Delete", admin_area_event_session_path(session), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
