<div class="container text-center">
    <h2>Thank You for Registering!</h2>
    <p class="lead">We've sent you an email with further instructions. Please check your inbox (and possibly your spam folder).</p>
    <p>If you haven't received the email, please <a href="#">click here</a> to resend it.</p>
</div>
